{% extends "main.html" %}
{% block content %}
{% load static %}


<section class="all_blogs">
    <div class="container">
        <div class="row pt-5">
            <div class="col-md-12 all_blog-heading">
                <h4 class="light-heading">Our blog posts</h4>
                <h2>All blog updates <br> & articles</h2>
            </div>
        </div>
        <div class="all_blog-block">
            <div class="row">
                
                {%for blogdata in allblog %}
                
                <div class="col-md-4 blog-about-block">
                    <div class="blog-images">
                        <img src="/media/{{blogdata.pic}}" alt="">
                    </div>
                    <div class="blog-about">
                        <div class="blog-about-icon">
                            <p><span><i class="fa-solid fa-tag"></i> Apartment</span></p>
                            <p><span><i class="fa-regular fa-user admin"></i> by Admin</span></p>
                        </div>
                        <h3>{{blogdata.name}}</h3>
                        <div class="read-more py-2">
                            <a href="blog/{{blogdata.key}}" class="text-secondary ">Read More</a>
                        </div>
                    </div>
                </div>
             {%endfor%}
                
                
            </div>
        </div>
    </div>

</section>


{% endblock %}