{% extends "main.html" %}
{% block content %}
    {% load static %}

    <section class="testimonial-banner">
        <div class="container">
            <div class="row">
                <div class="col-md-12 testimonial-banner-heading">
                    <h1>Testimonial</h1>
                </div>
            </div>
        </div>
    </section>

    <section class="testimonial-section">
        <div class="container">
            <div class="row testimonial-block">
                <div class="col-md-3 card">
                    <div class="card-body">
                        <div class="card-text">
                            <p>Delivery is Awesome and also a food quality made my day with fresh organic food Felt really good to pick up healthy stuff.</p>
                        </div>
                        <div class="card-img">
                            <img src="{% static '/images/testimonial-client-1-1.jpg' %}" alt="">
                            <h6>Allesha rana</h6>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 card">
                    <div class="card-body">
                        <div class="card-text">
                            <p>"I have been using Fresh & Healthy for my organic food needs, and I must say it's a fantastic platform. The website is easy to navigate, and I love the wide range of organic fruits, vegetables, and spices available. The ordering process is smooth, and the delivery is always on time. Highly recommended!".</p>
                        </div>
                        <div class="card-img">
                            <img src="{% static '/images/testimonial-2-3.jpg' %}" alt="">
                            <h6>Kevin Martin</h6>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 card">
                    <div class="card-body">
                        <div class="card-text">
                            <p>"Fresh & Healthy has completely changed my shopping experience. As a busy professional, I appreciate the convenience of ordering organic products online. The platform is user-friendly, and I can easily find what I need. The quality of the products is excellent, and they arrive fresh and well-packaged. I'm a satisfied customer!"</p>
                        </div>
                        <div class="card-img">
                            <img src="{% static '/images/testimonial-2-4.jpg' %}" alt="">
                            <h6>kaylie snow</h6>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 card">
                    <div class="card-body">
                        <div class="card-text">
                            <p>"I've been a loyal customer of Fresh & Healthy for a while now, and I have to say, it's my go-to platform for organic groceries. The product selection is impressive, and I like that they provide detailed information about each item. The checkout process is hassle-free, and the customer service is outstanding. I've recommended it to all my friends!"</p>
                        </div>
                        <div class="card-img">
                            <img src="{% static '/images/testimonial-2-5.jpg' %}" alt="">
                            <h6>Forkup prava</h6>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 card">
                    <div class="card-body">
                        <div class="card-text">
                            <p>"I'm delighted with Fresh & Healthy. The platform offers a great variety of organic food products, and the prices are reasonable. I love that they prioritize sustainability and support local farmers. The website is visually appealing, and I appreciate the effort they put into ensuring a seamless shopping experience. Keep up the good work!"</p>
                        </div>
                        <div class="card-img">
                            <img src="{% static '/images/testimonial-2-6.jpg' %}" alt="">
                            <h6>Jesica brana</h6>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 card">
                    <div class="card-body">
                        <div class="card-text">
                            <p>Delivery is Awesome and also a food quality made my day with fresh organic food Felt really good to pick up healthy stuff.</p>
                        </div>
                        <div class="card-img">
                            <img src="{% static '/images/testimonial-2-1.jpg' %}" alt="">
                            <h6>Thomas born</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="news-letter m-0 p-0">
        <div class="row subscribe-box m-0 p-0">
            <div class="col-md-12 d-flex">
                <div class="col-md-6 px-5">
                    <div class="icon-folder d-flex align-items-center">
                        <i class="fa-brands fa-slack"></i>
                        <h2>Subscribe our newsletter</h2>
                    </div>
                </div>
                <div class="col-md-6">
                    <form>
                        <div class="row g-2">
                            <div class="col-md">
                                <div class="form-floating d-flex">
                                    <input type="email" class="form-control " id="floatingInputGrid"
                                        placeholder="name@example.com" value="  ">
                                    <label for="floatingInputGrid">Email address</label>
                                    <button type="submit" class="sub-button"><i
                                            class="fa-solid fa-paper-plane"></i></button>
                                </div>
                            </div>
                    </form>
                </div>
            </div>
        </div>
    </section>



    <!-- java script -->


{% endblock %}